body {
    background-color: #f4f6ff;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    padding: 20px;
}

h1 {
    color: #4A6CFA;
}

h2 {
    color: #5C92E0;
}

ul {
    list-style-type: square;
}

img {
    width: 300px;
    border-radius: 10px;
    margin-top: 15px;
}
